.page-section {
  background: linear-gradient(to bottom, #c7ecee 100%, #dff9fb 0);
  padding: 8rem 0;
  padding-top: 16rem;
  padding-bottom: calc(16rem - 72px);
}

.Footer__social {
  text-align: center;
}
